.download {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;

  text-align: left;
  background-color: #1d2631;
}

.download__wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 280px;
}

.download__slogan {
  display: none;
}

.dowload__button {
  margin: 0 auto;
  margin-bottom: 30px;
}

.download__list {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
  width: 200px;
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.download__item {
  width: 48px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center center;

  &--apple{
    background-image: url("../img/logo-apple.svg");
  }
  &--android{
    background-image: url("../img/logo-android.svg");
  }
  &--microsoft{
    background-image: url("../img/logo-microsoft.svg");
  }
}

.download__info {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
}

@media (min-width: 660px) {
  .download {
    margin-top: -520px;
    min-height: 520px;
    background: none;
  }

  .download__wrapper {
    margin-left: 0;
  }

  .download__slogan {
    display: inline-block;
    width: 200px;

    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
  }

  .download__info {
    font-size: 18px;
  }
}

@media (min-width: 960px) {
  .download {
    margin-top: -630px;
    min-height: 630px;
    background: none;
  }

  .download__slogan {
    width: 250px;

    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
  }

  .dowload__button {
    margin: 0 auto;
    margin-bottom: 30px;

    font-size: 21px;
  }

}
