.features {
  background-color: #f2f2f2;
  text-align: center;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: 960px) {
  .features__list {
    display: flex;
  }
  .features__demo {
    order: 1;
  }

}

.features__item {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: 960px) {
  .features__list{
    display: flex;
    flex-direction: row;
  }
}

.feautures__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}

.features__descroption {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
}
