.features {
  background-color: #f2f2f2;
  text-align: center;
}

.features__list {
  width: 280px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  text-align: center;
  list-style: none;
}

.features__demo {
  display: none;

  &--last {
    display: inline-block;
  }
}

.features__item {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feautures__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}

.features__descroption {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
}

@media (min-width: 660px) {

    .features__list {
      width: 660px;
      padding-left: 400px;
    }
    .features__list {
      width: 310px;

      text-align: left;
    }
}

@media (min-width: 960px) {
  .features__list {
    display: flex;

    width: 960px;
    padding-left: 0;

    justify-content: space-around;
    flex-direction: row;

    text-align: center;
  }

  .features__item {
    width: 240px;
  }

  .features__demo {
    display: inline-block;
  }

  .feautures__title {
    order: 1;

    font-size:30px;
    line-height: 30px;
  }
  .features__description {
    order: 1;

    font-size: 18px;
    line-height: 30px;
  }
}
