.new-photo {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.new-photo__setting-list {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.new-photo__setting-item {
  width: 48px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center center;

  &--crop {
    // background-image: url("../img/icon-editor-crop.svg");
  }
  &--fill {
    background-image: url("../img/icon-editor-fill.svg");
  }
  &--сontrast {
    background-image: url("../img/icon-editor-contrast.svg");
  }
}

@media (max-width:659px) {
  .new-photo__range-list li:not(:first-child) {
    display: none;
  }
}

@media (min-width: 660px) {
  .new-photo {
    display: flex;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
  .new-photo__setting-list {
    display: none;
  }
}

@media (min-width: 960px) {
  .new-photo__range-list {
    width: 100%;
  }
  .new-photo {
    max-width: 940px;
    padding-left: 80px;
    padding-right: 60px;
  }
  .new-photo__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .new-photo__button {
    width: 183px;
  }
}
