.page-footer {
  margin: 0;
  padding: 0;

  text-align: center;
}

.page-footer__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__item {
  margin-bottom: 15px;
}

.page-footer__title {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #283645;
}

.page-footer__info {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}

@media (min-width: 660px) {
  .page-footer {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-footer--secondary {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

 .page-footer__item {
   width: 300px;
 }
}

@media (min-width: 960px) {
  .page-footer {
    max-width: 960px;

  }

  .page-footer__item--desctop {
    order: 1;
  }
}
