
.page-header {
	background-color : #1d2631;
	background-image : url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
}

.page-header_title {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #ffffff;
}