.page-header {
  width: 100%;
  min-height: 460px;
  background-repeat: no-repeat,repeat;
  background-position: bottom center, center top;
  background-image :
                      url("../img/iphone-hand-mobile@1x.png"),
                       url("../img/bg-back-mobile@1x.jpg");
}

.page-header--secodary {
  min-height: 240px;
  background-repeat: repeat-x;
  background-image:  url("../img/bg-back-mobile@1x.jpg");
}

.page-header__wrapper {
  margin-left: auto;
  margin-right: auto;
}

.page-header__title {
  width: 280px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;

  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

@media (min-width: 660px) {
  .page-header__title {
    padding-top: 80px;
    width: 620px;

    font-size: 50px;
  }

  .page-header {
    min-height: 730px;
  }

  .page-header--secodary {
    min-height: 440px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 855px;
  }

  .page-header--secodary {
    min-height: 394px;
  }

  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: $desktop-width;
  }

  .page-header_title {
    padding-top: 70px;
    width: 620px;
  }
}
