.photo__list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  list-style: none;
}

@media (min-width: 660px) {
  .photo {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
  .photo__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 960px) {
  .photo {
    max-width: 960px;
  }
}
