.post {
	margin: 0;
	padding: 0;

	background-color: #f2f2f2;
}

.post__autor {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #283645;
}

.photo__date {
	font-size: 12px;
	font-weight: 300;
}

.post__comment {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #283645;
}

.post__like-count {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	color: #d22856;
	text-transform: uppercase;
}