.product__table{
  margin-left: auto;
  margin-right: auto;
}

.product__title {
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
  background-color: #283645;
}
.product__price {
  display: block;

  font-size: 24px;
  font-weight: 300;
}

.product__cell{
  width: 280px;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283645;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 90% center;

  &--yes {
    background-image: url("../img/icon-yes.svg");
  }
  &--no {
    background-image: url("../img/icon-no.svg");
  }
}

.product--pink::before {
  content: "Розовый фильтр";
}
.product--smile::before {
  content: "Смайлики";
}
.product--comment::before {
  content: "Комментарии";
}

@media (max-width: 660px) {
  .product__cell:first-child {
    width: 0;
    padding: 0;
  }
  .product__cell:first-child::before {
    content: none;
  }
}

@media (min-width: 660px) {
  .product__cell {
    width: 150px;
    background-position: center;
  }

  .product__cell:not(:first-child)::before {
    content: none;
  }
}

@media (min-width: 960px) {
  .product__cell {
    width: 235px;
  }
}
