.promo {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: auto;
  color: #283645;
}

.promo--secondary {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
