.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  margin: 0;
  padding: 14px 0;

  border-top: 1px solid #485461;
  border-bottom : 1px solid #000000;

  text-align: center;
  background-color:#283645;
}

.site-list__link {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 960px) {
  .site-list {
    display: flex;
    justify-content: flex-end;
  }

  .site-list__item {
    padding: 0;
    margin-right: 80px;

    border: none;
    background: none;

    &:last-child{
      margin-right: 0;
    }
  }

  .site-list__link {
    text-transform: none;
    font-weight: 400;
    line-height: 18px;
  }

}
