.user__button {
  display: block;

  margin: 0;
  padding: 20px;
  width: 280px;

  background: none;
  background-color: #2aab6d;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;  
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
